pylint/.config/pylint/*.stats
nvim/.config/nvim/plugin/packer_compiled.lua
tmux/.config/tmux/plugins
qutebrowser/.config/qutebrowser/bookmarks/
qutebrowser/.config/qutebrowser/quickmarks
qutebrowser/.config/qutebrowser/blocked-hosts
qutebrowser/.config/qutebrowser/qsettings/
broot/.config/broot/launcher/
btop/.config/btop/btop.log
